extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Torre Eifel", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere urna sit amet tristique blandit. Ut porttitor volutpat lectus, a consectetur dolor convallis et. Quisque euismod leo purus, quis commodo nisl tincidunt id. Proin tempus rhoncus lorem ut imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin tincidunt, dolor quis mollis egestas, arcu urna porta nibh, sit amet aliquet ex justo vel magna. Proin auctor nisl sem, vel elementum lorem gravida quis. 

                p Vestibulum sem erat, rutrum sit amet gravida eget, luctus eget urna. Maecenas placerat aliquam rhoncus. Morbi tristique erat eu hendrerit convallis. Proin euismod sem at convallis pulvinar. Sed suscipit, nisi eu euismod lacinia, metus massa ullamcorper turpis, vitae malesuada lacus nunc hendrerit est. Proin velit tellus, lacinia eleifend sodales quis, dignissim vitae ante. Fusce a ipsum quis orci consectetur dictum non non dolor. Aliquam augue est, molestie nec tincidunt nec, tincidunt non purus. 

                p Duis auctor quam in tincidunt rutrum. Sed mollis lacus a vehicula facilisis. Sed non luctus lectus, vel pharetra velit. Nulla eu dictum tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent nec venenatis leo, a sodales erat. Sed sollicitudin aliquet ipsum, id accumsan dui ultricies eu. Maecenas ut tortor quis libero blandit cursus sed non orci. Ut leo dui, accumsan ac massa eu, sollicitudin imperdiet velit. Suspendisse tempor lacus a ex molestie, ut cursus est dignissim. Nulla in fringilla odio, vel auctor risus.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Maecenas ut tortor quis libero blandit cursus sed non orci. Ut leo dui, accumsan ac massa eu, sollicitudin imperdiet velit. 
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Fusce a ipsum quis orci consectetur dictum non non dolor. Aliquam augue est, molestie nec tincidunt nec, tincidunt non purus.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Proin tincidunt, dolor quis mollis egestas, arcu urna porta nibh, sit amet aliquet ex justo vel magna. Proin auctor nisl sem, vel elementum lorem gravida quis. 